<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Polymetrics CLI"
    Manufacturer="Polymetrics AI"
    Version="$(var.ProductVersion)"
    UpgradeCode="$(var.UpgradeCode)"
    Scope="perMachine"
    InstallerVersion="500"
    Compressed="yes">

    <SummaryInformation Description="Polymetrics CLI installer" Manufacturer="Polymetrics AI" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="PolymetricsFolder" Name="Polymetrics">
        <Directory Id="INSTALLFOLDER" Name="CLI">
          <Component Id="PmExecutableComponent" Guid="*" Bitness="always64">
            <File Id="PmExecutable" Source="$(var.SourceExe)" Name="pm.exe" KeyPath="yes" />
            <Environment
              Id="AddPmToMachinePath"
              Name="PATH"
              Value="[INSTALLFOLDER]"
              Action="set"
              Part="last"
              System="yes"
              Permanent="no" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Polymetrics CLI" Level="1">
      <ComponentRef Id="PmExecutableComponent" />
    </Feature>
  </Package>
</Wix>
