COMPOSE_PROJECT_NAME=polymetrics

POSTGRES_IMAGE=ghcr.io/enterprisedb/postgresql:16
POSTGRES_DB=polymetrics
POSTGRES_USER=polymetrics
POSTGRES_PASSWORD=polymetrics
POSTGRES_PORT=15433

DRAGONFLY_IMAGE=ghcr.io/dragonflydb/dragonfly:latest
DRAGONFLY_PORT=6379

TEMPORAL_VERSION=1.31.0
TEMPORAL_ADMINTOOLS_VERSION=1.31.0
TEMPORAL_UI_VERSION=2.49.1
TEMPORAL_SERVER_IMAGE=temporalio/server:1.31.0
TEMPORAL_ADMINTOOLS_IMAGE=temporalio/admin-tools:1.31.0
TEMPORAL_UI_IMAGE=temporalio/ui:2.49.1
TEMPORAL_PORT=7233
TEMPORAL_UI_PORT=8080
TEMPORAL_NAMESPACE=default
